<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

<header class="serif">
    <div class="cover bg-left bg-center-l" style="background-image: url(/images/site/tiger.jpg)">
      <div class="bg-black-50 pb5 pb6-m pb7-l">
        <nav class="dt w-100 mw8 center"> 
          <div class="dtc v-mid tr pa3 sans-serif">
            <a class="f6 fw4 hover-white no-underline white-70 hover-bg-light-blue ml2 pv2 ph3" href="/blog" >Blog</a> 
            <a class="f6 fw4 hover-white no-underline white-70 hover-bg-light-green ml2 pv2 ph3" href="/" >Bio</a> 
            <a class="f6 fw4 hover-white no-underline white-70 hover-bg-light-red ml2 pv2 ph3" href="/plays/" >Plays</a> 
            <a class="f6 fw4 hover-white no-underline white-70 hover-bg-light-yellow ml2 pv2 ph3" href="/contact-me/" >Contact</a> 
          </div>
        </nav> 
        <div class="tl mt4 mt5-m mt6-l ph3">
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Site.Title }}</h1>
          <h2 class="fw1 f3 white-80 mt3 mb4">Writer</h2>
        </div>
      </div>
    </div> 
  </header>