{{ partial "header.html" . }}
<div class="mw7 ph2 center">
    {{ .Content }}
</div>

<div class="mw7 ph2 mv5 center" id="full-length">
  <h2 class="f2 serif">Full Length</h2>
</div>

{{ range sort (where .Data.Pages "Params.length" "full") "Params.order" }}
  {{ partial "detailed_play.html" . }}
{{ end }}

<div class="mw7 ph2 mv5 center" id="shorts">
  <h2 class="f2 serif" >Shorts</h2>
</div>

{{ range sort (where .Data.Pages "Params.length" "short") "Params.order" }}
  {{ partial "detailed_play.html" . }}
{{ end }}
{{ partial "footer.html" . }}

